<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body" ng-controller="StatsCtrl">
        <h1 class="grapefruit">Statistics</h1>
        <div class="row">
          <div class="col-md-6">
            <h1><span class="count" count-to="{{queries}}" value="0" duration="0.3">-</span><small> queries </small></h1>
          </div>
          <div class="col-md-6">
            <h1><span class="count" count-to="{{domains.length}}" value="0" duration="0.1">-</span><small> domains </small></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body" ng-controller="DomainsCtrl">
        <h1 class="grapefruit">Domains</h1>
        <button class="btn btn-square btn-success btn-xs" ng-click="toggleDomainDialog()">New domain <span ng-class="{'fa-chevron-up': addDomainDialog, 'fa-chevron-down': !addDomainDialog}" class="fa"></span></button>

        <div class="row" ng-show="addDomainDialog">
          <div class="col-md-12 card">
            <form role="form" class="card-content form" action="">
              <!-- domain-->
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="control-label" for="domain">Domain</label>
                    <input id="domain" name="domain" type="text" placeholder="example.com" class="form-control input-md" required="">
                </div>
              </div>
              <!-- email & PNS-->
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="control-label" for="hostmaster">Hostmaster email</label>
                  <input id="hostmaster" name="hostmaster" type="text" placeholder="admin@example.com" class="form-control input-md" required="">
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label" for="primaryns">Primary NS</label>
                    <input id="primaryns" name="primaryns" type="text" placeholder="ns1.example.com" class="form-control input-md" required="">
                    <span class="help-block">Insert the primary nameserver of domain</span>
                </div>
              </div>
              <!-- Times-->
              <div class="row">
                <div class="form-group col-md-3">
                  <label class="control-label" for="refresh">Refresh</label>
                    <input id="refresh" name="refresh" type="text" placeholder="10800" class="form-control input-md">
                    <span class="help-block">default: 10800</span>
                </div>

                <!-- Text input-->
                <div class="form-group col-md-3">
                  <label class="control-label" for="retry">Retry</label>

                    <input id="retry" name="retry" type="text" placeholder="7200" class="form-control input-md">
                    <span class="help-block">default: 7200</span>

                </div>

                <!-- Text input-->
                <div class="form-group col-md-3">
                  <label class="control-label" for="expire">Expire</label>

                    <input id="expire" name="expire" type="text" placeholder="604800" class="form-control input-md">
                    <span class="help-block">default: 604800</span>

                </div>

                <!-- Text input-->
                <div class="form-group col-md-3">
                  <label class="control-label" for="ttl">TTL</label>

                    <input id="ttl" name="ttl" type="text" placeholder="10800" class="form-control input-md">
                    <span class="help-block">default: 10800</span>

                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p>You can add nameservers for the domain there <i>(Optional)</i></p>

                </div>
                <div class="col-md-8">
                  <ul id="ns-list">
                    <li>
                      <div class="form-group">
                        <div class="col-md-12">
                          <div class="input-group">
                            <input class="form-control input-xs" placeholder="ns1.example.com" type="text">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default btn-danger">
                                <span class="fa fa-trash-o"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"><button class="btn pull-right btn-square btn-success"><span class="fa fa-plus">Add new domain</span></button></div>
              </div>
            </form>
          </div>
        </div>

        <div id="domain-list" class="list-group">
          <a href="" ng-repeat="domain in domains" class="list-group-item">
            <h4 class="list-group-item-heading">{{domain.name}}</h4>
            <p class="list-group-item-text"><i>Last updated: {{domain.updated_at | date: "medium"}}</i> <button class="btn btn-square btn-danger btn-xs pull-right"><span class="fa fa-trash-o"></span> REMOVE</button></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
